[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu129"
verify_ssl = true
name = "downloadpytorch"

[packages]
gymnasium = {extras = ["box2d"], version = "*"}
ray = {extras = ["rllib"], version = "*"}
torch = { index = "downloadpytorch"}
pillow = "*"
wandb = {extras = ["media"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
